<%- include('./authIncludes/authHead.ejs') %>

    <main>
        <section class="loginPage">
            <div class="loginImage">
                <p style="line-height: 0;">Sign Up and </p>
                <p>Become A Cleaner At Our Company</p>
                <img style="width: 400px;" src="./img/signupPage.png" alt="">
                alt="">
                <p class="tinytext">@OneStepAwayCleaner</p>
            </div>
            <div class="loginForm">
                <div class="topBarLogin">
                    <a href="/">Home</a>
                    <p>Already have an account?
                        &nbsp; <a class="loginBtn" href="/login">Log In</a>
                    </p>
                </div>
                <section class="centerContainer">
                    <section class="loginFormContainer">
                        <img src="./img/logo.png" alt="">
                        <p>Get paid by working with us. Fill this form to open your cleaner's account</p>
                        <%if(message){%>
                            <div class="errorFlash">
                                <p>
                                    <%= message%>
                                </p>
                            </div>
                            <%}%>
                                <form style="padding-bottom: 50px;" action="/joinus" method="Post">
                                    <label for="FirstName">First Name</label>
                                    <input value="<%= firstName%>" name="firstName" type="text" placeholder="John">
                                    <label for="LastName">Last Name</label>
                                    <input value="<%= lastName%>" name="lastName" type="text" placeholder="Smith">
                                    <label for="Email">Email</label>
                                    <input value="<%= email%>" name="email" type="text" placeholder="John@gmail.com">
                                    <label for="contactNumber">Contact Number</label>
                                    <input value="<%= contactNumber%>" name="contactNumber" type="text" placeholder="+1 (XXX) XXX-XXX">
                                    <label for="Password">Password</label>
                                    <input value="" name="password" type="password" placeholder="At least 6 characters">
                                    <label for="ConfirmPassword">Confirm Password</label>
                                    <input value="" type="password" name="confirmPassword"
                                        placeholder="At least 6 characters">
                                    <button type="submit">Create Account</button>
                                </form>
                    </section>
                </section>
            </div>
        </section>
    </main>
    <%- include('./authIncludes/authEnd.ejs') %>