<%- include('./authIncludes/authHead.ejs') %>
    <main>
        <section class="loginPage">
            <div class="loginImage">
                <p style="line-height: 0;">Log In and </p>
                <p>Book OneStepAwayCleaner Services</p>
                <img style="width: 400px;" src="./img/loginPage.png" alt="">
                    alt="">
                <p class="tinytext">@OneStepAwayCleaner</p>
            </div>
            <div class="loginForm">
                <div class="topBarLogin">
                    <a href="/">Home</a>
                    <p>Don't have an account yet? &nbsp; <a class="signupBtn" href="/signup">Sign Up</a> </p>
                </div>
                <section class="centerContainer">
                    <section class="loginFormContainer">
                        <img src="./img/logo.png" alt="">
                        <p>Hello, who’s this?</p>
                        <%if(message){%>
                            <div class="<%=messageClass%>">
                                <p>
                                    <%= message%>
                                </p>
                            </div>
                            <%}%>
                        <form action="/login" method="post">
                            <label for="Email">Email</label>
                            <input value="<%=email%>" type="text" name="email" placeholder="john@gmail.com">
                            <label for="Email">Password</label>
                            <input value="" name="password" type="password" placeholder="At least 6 characters">
                            <button type="submit">LogIn to One Step Away Cleaner</button>
                        </form>
                    </section>
                </section>
            </div>
        </section>
    </main>

    <%- include('./authIncludes/authEnd.ejs') %>
