
                    <% bookings.forEach(booking=>{ %>
                        <article class="dashboardContent card bookedServices">
                            <h3>Requirement: <%= booking.desiredService %>
                            </h3>
                            <div class="grid2  bookedServices">
                                <p><span class="colored">Booking ID:</span>
                                    <%= booking._id%>
                                </p>
                                <p><span class="colored">Name:</span>
                                    <%= booking.firstName %>
                                        <%= booking.lastName %>
                                </p>
                                <p><span class="colored">Email:</span>
                                    <%= booking.email %>
                                </p>
                                <p><span class="colored">Contact Number:</span>
                                    <%= booking.contactNumber %>
                                </p>
                                <p><span class="colored">Location Type:</span>
                                    <%= booking.locationType %>
                                </p>
                                <p><span class="colored">Pin Code:</span>
                                    <%= booking.pinCode %>
                                </p>
                                <p><span class="colored">Scheduled Date:</span>
                                    <%= booking.bookingDate %>
                                </p>
                                <p><span class="colored">Scheduled Time:</span>
                                    <%= booking.startingTime %> Onwards
                                </p>
                                <p><span class="colored">Booked On:</span>
                                    <%= booking.dateOfBooking %>, <%= booking.timeOfBooking %>
                                </p>
                            </div>
                            <p style="text-align: left;"><span class="colored">Address: </span><br>
                                <%= booking.address %>
                            </p>
                            <p><span class="colored">Details And Requirements: </span>
                                <br>
                                <%= booking.details %>
                            </p>
                            <p
                                style="text-align: center;padding: 12px;margin-top: 10px; background-color: rgb(231, 231, 231);">
                                <span class="colored"> Status:</span>
                                <span class="<%= booking.bookingStatus%>">
                                    <%= booking.bookingStatus%>
                                </span>
                            </p>
                            <% if(booking.bookingStatus==='Ongoing' ){%>
                                <p>Your Request Has Been Accepted By Our Cleaner</p>
                                <div class="card" style="background-color: rgb(241, 241, 241);">
                                    <h4 class="colored2">Cleaner Details</h4>
                                    <div class="grid2  bookedServices">
                                        <p><span class="colored2">Name:</span>
                                            <%= booking.cleanerDetails[0].firstName%>
                                                <%= booking.cleanerDetails[0].lastName%>
                                        </p>
                                        <p><span class="colored2">Contact Number:</span>
                                            <%= booking.cleanerDetails[0].contactNumber%>
                                        </p>
                                    </div>
                                    <p> <span class="colored2">Message From Our Cleaner:</span> <br>
                                        <%= booking.cleanerDetails[0]. cleanersMessage%>
                                    </p>
                                </div>
                                <%}else if(booking.bookingStatus==='Pending' ){%>
                                    <p>Your Request Will Be Accepted Soon By Our Cleaners</p>
                                    <form action="/deleteBooking" method="post">
                                        <div class="flexRow">
                                            <a href="/editBooking/<%=booking._id%>" class="btn btn-yellow smallBtn">Edit
                                                Details</a>
                                            <button type="submit"
                                                style="border: none; height: 48px; cursor: pointer; font-size: 15px; padding: 14px 16px;"
                                                class="btn btn-red">Cancel Booking</button>
                                            <input style="display: none;" name="bookingId" type="text"
                                                value="<%= booking._id%>">
                                        </div>
                                    </form>
                                    <%}else if(booking.bookingStatus==='Completed' ){%>
                                        <p>Cleaning service has been completed, Thankyou for choosing One Step Away
                                            Cleaner</p>
                                        <form action="/deleteBooking" method="post">
                                            <div class="flexRow">
                                                <button type="submit"
                                                    style="border: none; height: 48px; cursor: pointer; font-size: 15px; padding: 14px 16px;"
                                                    class="btn btn-red">Delete Booking</button>
                                                <input style="display: none;" name="bookingId" type="text"
                                                    value="<%= booking._id%>">
                                            </div>
                                        </form>
                                        <%}%>


                        </article>

                        <% })%>