<%- include('./dashboardHead.ejs') %>
    <!-- Sidebar -->
    <%- include('./sidebarDashboard.ejs') %>
        <div id="dashboardContainer">
            <div id="topBar" class="flexRow justifySpaceBetween">
                <h3><a class="colored" href="/requests"> Request </a> / <%= booking.firstName%></h3>
                <button class="sidebarDashboardToggle"><i class="fas fa-bars"></i></button>
            </div>
            <article class="dashboardContent card bookedServices">
                <h3>Requirement: <%= booking.desiredService %>
                </h3>
                <div class="grid2  bookedServices">
                    <p><span class="colored">Name:</span>
                        <%= booking.firstName %>
                            <%= booking.lastName %>
                    </p>
                    <p><span class="colored">Email:</span>
                        <%= booking.email %>
                    </p>
                    <p><span class="colored">Contact Number:</span>
                        <%= booking.contactNumber %>
                    </p>
                    <p><span class="colored">Location Type:</span>
                        <%= booking.locationType %>
                    </p>
                    <p><span class="colored">Pin Code:</span>
                        <%= booking.pinCode %>
                    </p>
                    <p><span class="colored">Scheduled Date:</span>
                        <%= booking.bookingDate %>
                    </p>
                    <p><span class="colored">Scheduled Time:</span>
                        <%= booking.startingTime %> Onwards
                    </p>
                    <p><span class="colored">Booked On:</span>
                        <%= booking.dateOfBooking %>, <%= booking.timeOfBooking %>
                    </p>
                </div>
                <p style="text-align: left;"><span class="colored">Address: </span><br>
                    <%= booking.address %>
                </p>
                <p><span class="colored">Details And Requirements: </span>
                    <br>
                    <%= booking.details %>
                </p>
                <p style="text-align: center;padding: 12px;margin-top: 10px; background-color: rgb(231, 231, 231);">
                    <span class="colored"> Status:</span>
                    <span class="<%= booking.bookingStatus%>">
                        <%= booking.bookingStatus%>
                    </span>
                </p>
                <% if(booking.bookingStatus==='Ongoing' ){%>
                    <div class="card" style="background-color: rgb(241, 241, 241);">
                        <h4 class="colored2">Cleaner Details</h4>
                        <div class="grid2  bookedServices">
                            <p><span class="colored2">Name:</span>
                                <%= booking.cleanerDetails[0].firstName%>
                                    <%= booking.cleanerDetails[0].lastName%>
                            </p>
                            <p><span class="colored2">Contact Number:</span>
                                <%= booking.cleanerDetails[0].contactNumber%>
                            </p>
                        </div>
                        <p> <span class="colored2">Message From Our Cleaner:</span> <br>
                            <%= booking.cleanerDetails[0]. cleanersMessage%>
                        </p>

                    </div>
                    <div class="padding20 flexRow justifySpaceBetween">
                        <form action="/completeRequest" method="post">
                            <button type="submit" class="btn btnButton btn-green"><i class="fa-solid fa-circle-check"></i> &nbsp;Mark As Completed</button>
                            <input style="display: none;" name="bookingId" type="text" value="<%= booking._id%>">
                        </form>
                        <form action="/deleteBooking" method="post">
                            <button type="submit" class="btn btnButton btn-red"><i class="fa-solid fa-trash"></i> &nbsp;Delete Request</button>
                            <input style="display: none;" name="bookingId" type="text" value="<%= booking._id%>">
                        </form>
                    </div>

                    <%}else if(booking.bookingStatus==='Pending' ){%>
                        <form action="/acceptBooking" method="post">
                            <div class="">
                                <input style="display: none;" name="bookingId" type="text" value="<%= booking._id%>">
                                <input style="display: none;" name="firstName" type="text"
                                    value="<%= user.firstName %>">
                                <input style="display: none;" name="lastName" type="text"
                                    value="<%= user.lastName %>">
                                <input style="display: none;" name="contactNumber" type="text"
                                    value="<%= user.contactNumber %>">

                                <label for="">Message For Customer</label>
                                <br>
                                <textarea name="cleanersMessage"
                                    style="width: 100%;margin-top: 10px; font-size: 16px;padding: 10px;" id="" cols="30"
                                    rows="5">Hey, <%= user.firstName%> this side from One Step Away Cleaner, I will be there at <%= booking.startingTime %>. For any queries you can call me on my contact number.</textarea>
                                <button type="submit"
                                    style="border: none; height: 48px; cursor: pointer; font-size: 15px; padding: 14px 16px;"
                                    class="btn btn-blue"><i class="fa-solid fa-circle-check"></i>&nbsp; Accept
                                    Booking</button>
                            </div>
                        </form>
                        <%}else if(booking.bookingStatus==='Completed'){%>
                            <p>Cleaning service has been completed, Thankyou for choosing One Step Away Cleaner</p>
                            <form action="/deleteBooking" method="post">
                                <div class="flexRow">
                                    <button type="submit"
                                        style="border: none; height: 48px; cursor: pointer; font-size: 15px; padding: 14px 16px;"
                                        class="btn btn-red">Delete Booking</button>
                                    <input style="display: none;" name="bookingId" type="text" value="<%= booking._id%>">
                                </div>
                            </form>
                            <%}%>


            </article>

        </div>


        <%- include('./dashboardEnd.ejs') %>