<% if(bookings.length){ %>
    <article class="responses-container" style="margin: 0 20px;padding-top: 5px;">
        <div>
            <div class="responses-table">
                <table>
                    <tr>
                        <th>Sno</th>
                        <th>Booked By</th>
                        <th>Status</th>
                        <th>Requirement</th>
                        <th>Scheduled Date</th>
                        <th>Scheduled Time</th>
                        <th>Location Type</th>
                        <th>Actions</th>

                        <%bookings.reverse().forEach((booking,index)=>{%>
                    <tr>
                        <td style="width:80px;text-align:center">
                            <%= index+1%>
                        </td>
                        <td style=" min-width: 140px;">
                            <%=booking.firstName%>
                                <%=booking.lastName%>
                        </td>
                        <td>
                            <span class="<%=booking.bookingStatus%>">
                                <%=booking.bookingStatus%>
                            </span>
                        </td>
                        <td>
                            <%=booking.desiredService%>
                        </td>
                        <td>
                            <%=booking.bookingDate%>
                        </td>
                        <td>
                            <%=booking.startingTime%>
                        </td>
                        <td>
                            <%=booking.locationType%>
                        </td>

                        <td style="display: flex;gap:6px; padding:8px;justify-content: center; min-width: 160px">
                            <a class=" btn btn-blue smallBtn" href="/requestDetails/<%= booking._id%>">
                                <i class="fa-regular fa-eye"></i> &nbsp;
                                Details</a>
                        </td>
                    </tr>
                    <%})%>
                </table>
            </div>
        </div>

    </article>
    <% }else{ %>

        <%if(path==='/myCustomers'){ %>
            <div class="card">
                <h2>You have not accepted any requests yet</h2>
            </div>
            <%}else{%>
                <div class="card">
                    <h2>No Bookings Yet</h2>
                </div>
                <%}%>

                <% } %>